<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .container2{
        background-color: whitesmoke;
    }
    .imageheader{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .imageheader img{
        margin-right: 10px;
    }
    #remaining{
        padding-top: 50px;
        font-family: 'Book Antiqua',serif;
        font-size: 20px;
        color: black;
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }
    .content1 ,.content2,.content3{
        display: flex; 
        align-items: center;
        justify-content: center;
    }

    .content1 img ,.content2 img,.content3 img{
        margin-right: 15px; 
    }
    .content2{
        padding-left: 300px;
    }

    .content1 p ,.content2 p,.content3 p{
        font-style: italic; 
        font-family: 'Book Antiqua',serif; 
        font-size: 25px; 
        color: black;
        font-weight: bold;
    }
    footer{
        background-color: lightgray;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Book Antiqua', serif;
        padding: 20px; 
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%
    }

</style>
<body>
    <div class="container2">
        <div class="imageheader">
            <img src="/images/img2.jpg" alt="image" style="width: 250px; height: 250px; align-items: center;">
            <p id="remaining">Welcome to Our Food Delivery Service, we bring delicious meals right to your doorstep.<br> Whether you're craving comfort food, exotic cuisine, or healthy options, we have something for everyone. <br> Explore our diverse menu and let us satisfy your hunger cravings .</p><br>
            <img src="/images/img1.jpg" alt="image" style="width: 250px; height: 250px; align-items: center;">
        </div>
        <div class="content1">
            <img src="/images/img3.jpg" alt="image">
            <p>" Always at your service to feed you. "</p>
        </div>
        <div class="content2">
            <p>"Taste Makes You Happy"</p>
            <img src="/images/img5.jpg" alt="image">
        </div>
        <div class="content3">
            <img src="/images/img4.png" alt="image">
            <p>"Heart-healthy meals delivered by hand"</p>
        </div>
    </div>
    <footer>
        copyrights reserved @fooddeliveryservice 2024
    </footer>
</body>
</html>
