<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery Service</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Food Delivery Service</h1>
        </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/home" onclick="return loadContent('/home')">Home</a></li>
                    <li><a href="/restaurants" onclick="return loadContent('/restaurants')">Restaurants</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                </ul>
            </nav>
        </div>
        <div class="content" id="content">
            <%- include('home.ejs') %>
        </div>
    </div>
    <script>

        function loadContent(page) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("content").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", page, true);
            xhttp.send();
            return false; 
        }
    </script>
    
</body>
</html>
