<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR-Generator</title>
</head>
<style>
    .main{
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #content{
        font-family: 'Book Antiqua',serif;
        font-size: 16px;
    }
</style>
<body>
    <div class="main">
        <h2>Qr Code Generator </h2>
        <form action="/generate" method="get">
            <textarea name="content" id="content" cols="60" rows="05" placeholder="Enter Text"></textarea><br>
            <button type="submit" id="sbt-btn">Generate</button>
        </form>
        <% if(qrcodeurl) { %>
            <h2>QR Code Generated </h2>
            <img src="<%= qrcodeurl %>" alt="qrcode">
        <% } %>
    </div>
</body>
</html>
