<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing</title>
</head>
<body>
    <center>
        <h1>Landing page</h1>
        <form action="/login">
            <button type="submit">Login</button>
        </form><br><br>
        <form action="/register">
            <button type="submit">register</button>
        </form>
    </center>
</body>
</html>
